.ButtonDark {
  width: 100%;
  padding: 13px 15px;
  min-width: 50px;
  border-radius: 2px;
  background-color: #333333;
  font-weight: 500;
  color: #f1f1f1;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-family: BlenderPro-Bold, sans-serif;
}

.ButtonDark:hover {
  cursor: pointer;
  background-color: #444444;
}

.ButtonDark:disabled {
  background-color: #dee1e7;
  color: #f1f1f1;
}

.ButtonDark:active {
  background-color: #222222;
}

.ButtonLight {
  width: 100%;
  padding: 13px 15px;
  min-width: 50px;
  border-radius: 2px;
  background-color: #f1f1f1;
  border: 1px #dee1e7 solid;
  font-weight: 500;
  color: #333333;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-family: BlenderPro-Bold, sans-serif;
}

.ButtonLight:hover {
  border: 1px teal solid;
  transition: 0.3s;
  cursor: pointer;
}

.ButtonLight:active {
  background-color: #f1f1f1;
}
