.Button {
  padding: 13px 15px;
  min-width: 50px;
  border-radius: 2px;
  background-color: #333333;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.05em;
  font-family: BlenderPro-Bold, sans-serif;
}

.Button:hover {
  cursor: pointer;
  color: #ffffff;
  background-color: #444444;
}

.Button:disabled {
  background-color: #dfe1e4;
  color: #333333;
}
