.textareaDivActive {
  border: 1px teal solid !important;
}

.label {
  margin-bottom: -18px;
  position: relative;
  letter-spacing: 1px;
  display: block;
  margin-left: 15px;
  width: fit-content;
  padding: 5px 6px 0 6px;
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 13px;
  color: teal;
  background-color: white;
  border-radius: 3px;
  z-index: 1;
}

.textarea {
  padding: 10px 8px;
  position: relative;
  display: flex;
  flex-grow: 1;
  margin: 13px 0 10px 0;
  justify-content: space-between;
  align-items: center;
  border: 1px rgb(222, 225, 231) solid;
  border-radius: 2px;
  background-color: white;
  height: 100%;
  color: teal;
  font-size: 18px;
  font-family: BlenderPro-Bold, sans-serif;
  font-weight: 500;
  resize: none;
  transition: 300ms;
}

.textarea:hover {
  border: 1px teal solid;
  transition: 0.3s;
}

.textarea::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.textarea::placeholder {
  color: #b4b4b4;
}

.textarea:focus {
  border: 1px teal solid;
}
