.productsWrapper {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.products {
  width: 1080px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px;
  flex-grow: 1;
}

.order {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.offersCount {
  font-family: BlenderPro-Bold, sans-serif;
  color: teal;
}

.selectsWrapper {
  display: flex;
}
.countSelectWrapper {
  margin-left: 15px;
  width: 150px;
}

.orderSelectWrapper {
  margin-left: 15px;
  width: 200px;
}

.splitter {
  border-bottom: 2px solid #d3d3d3;
  padding-top: 10px;
}

.placeholder {
  margin: 100px auto;
}
