.cartWrapper {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.rowTitles {
  padding-top: 40px;
  display: flex;
  width: 1440px;
  border-bottom: 1px solid #dee1e7;
}

.rowTitleProduct {
  font-family: BrandonGrotesque, sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.12em;
  color: teal;
  width: 31%;
  padding-bottom: 20px;
}

.rowTitleQuantity {
  font-family: BrandonGrotesque, sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.12em;
  color: teal;
  width: 23%;
  padding-bottom: 20px;
  text-align: end;
}

.rowTitlePrice {
  font-family: BrandonGrotesque, sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.12em;
  color: teal;
  width: 23%;
  padding-bottom: 20px;
  text-align: end;
}

.rowTitleSum {
  font-family: BrandonGrotesque, sans-serif;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.12em;
  color: teal;
  width: 23%;
  padding-bottom: 20px;
  text-align: end;
  padding-right: 20px;
}

.placeholder {
  padding-top: 100px;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.button {
  align-self: end;
  padding-top: 20px;
  width: 300px;
}
