.label {
  width: 100%;
  margin: 13px 0 10px 0;
  position: relative;
  min-height: 40px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  border: 1px #dee1e7 solid;
  color: #333333;
  border-radius: 2px;
  background-color: #f1f1f1;
  justify-content: center;
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 16px;
}

.label:hover {
  border: 1px teal solid;
  transition: 0.3s;
  cursor: pointer;
}

.disabledLabel {
  border: 1px #dee1e7 solid !important ;
}

.disabledInput::placeholder {
  color: #dee1e7 !important;
}

.input {
  display: none;
}
