.productsCardWrapper {
  display: flex;
  width: 360px;
  padding: 20px 12px 0 12px;
  font-family: BlenderPro-Bold, sans-serif;
}

.productsCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 15px 15px 15px 15px;
  border: 1px solid rgb(222, 225, 231);
  border-radius: 2px;
  height: 480px;
  justify-content: space-between;
  background-color: white;
}

.productsCard:hover {
  border-color: transparent;
  box-shadow: 0 0 15px 0 rgba(0, 128, 100, 0.3);
}

.brand {
  font-family: BrandonGrotesque, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: teal;
}

.name {
  font-size: 22px;
  font-weight: 700;
  height: 52px;
  line-height: 26px;
  letter-spacing: 0.04em;
  color: teal;
}

.imgDiv {
  display: flex;
  height: 294px;
  width: 294px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.priceAvailabilityDiv {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}

.inStock {
  color: green;
  align-self: flex-end;
  padding: 0 8px;
}

.price {
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 28px;
  line-height: 36px;
  align-self: flex-end;
  color: red;
  padding: 0 8px;
  border-radius: 2px;
}
