.counter {
  display: flex;
  height: 60px;
  width: 180px;
}

.toCart {
  display: flex;
  flex-direction: row;
  margin: 13px 0;
}

.toCartSplitter {
  width: 20px;
  height: 60px;
}

.cartButton {
  height: 60px;
  width: 100%;
  background-color: teal;
  color: white;
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 22px;
  letter-spacing: 0.06em;
}

.button {
  width: 60px;
}

.buttonText {
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 40px;
  color: teal;
}

.input {
  width: 60px;
  text-align: center;
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 24px;
  color: teal;
}

.input:focus {
  border: 2px solid teal;
}

/*input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}*/
