.messageString {
  color: teal;
  white-space: nowrap;
  font-family: BlenderPro-Bold, 'sans-serif';
  font-size: 15px;
  padding: 10px 0;
}
.errorMessageString {
  color: red;
  white-space: nowrap;
  font-family: BlenderPro-Bold, 'sans-serif';
  font-size: 15px;
  padding: 10px 0;
}
