.listTitleRow {
  position: relative;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  border-bottom: 1px rgb(222, 225, 231) solid;
}

.listRow {
  position: relative;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  border-bottom: 1px rgb(222, 225, 231) solid;
}

.orderDetailsRow {
  position: relative;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px rgb(222, 225, 231) solid;
}

.titleIcos {
  display: flex;
  align-items: center;
}

.orderDetailsSummary {
  position: relative;
  padding-top: 20px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listRow:hover {
  background-color: #f2fafa;
  cursor: pointer;
}

.tableTitleId {
  display: flex;
  justify-content: end;
  width: 75px;
  font-size: 18px;
}

.tableId {
  display: flex;
  justify-content: end;
  width: 75px;
}

.tableTitleDate {
  display: flex;
  justify-content: end;
  width: 200px;
  font-size: 18px;
}

.tableDate {
  display: flex;
  justify-content: end;
  width: 200px;
}

.tableTitleStatus {
  display: flex;
  justify-content: end;
  width: 150px;
  font-size: 18px;
}

.tableStatus {
  display: flex;
  justify-content: end;
  width: 150px;
}

.tableTitleProductsCount {
  display: flex;
  justify-content: end;
  width: 200px;
  font-size: 18px;
}

.tableProductsCount {
  display: flex;
  justify-content: end;
  width: 200px;
}

.tableTitleCustomer {
  display: flex;
  justify-content: end;
  flex-grow: 1;
  font-size: 18px;
}

.tableCustomer {
  display: flex;
  justify-content: end;
  flex-grow: 1;
}

.tableTitleAmount {
  display: flex;
  justify-content: end;
  width: 125px;
  font-size: 18px;
}

.tableAmount {
  display: flex;
  justify-content: end;
  width: 125px;
}

.orderDetailsWrapper {
  border-bottom: 1px rgb(222, 225, 231) solid;
}

.orderDetails {
  background-color: #f2fafa;
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 20px 40px;
}

.orderDetailsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.x {
  margin-left: 10px;
}

.x:hover {
  cursor: pointer;
}

.orderDetailsTitleRow {
  padding-top: 15px;
  display: flex;
  width: 100%;
  border-bottom: 1px rgb(222, 225, 231) solid;
  min-height: 40px;
  align-items: center;
}

.orderDetailsTitleId {
  font-size: 16px;
  display: flex;
  width: 100px;
  justify-content: end;
}

.orderDetailsId {
  display: flex;
  width: 100px;
  justify-content: end;
}

.orderDetailsTitleName {
  font-size: 16px;
  width: 300px;
  display: flex;
  justify-content: end;
}

.orderDetailsName {
  width: 300px;
  display: flex;
  justify-content: end;
}

.orderDetailsTitleQuantity {
  font-size: 16px;
  display: flex;
  width: 100%;
  justify-content: end;
}

.orderDetailsQuantity {
  display: flex;
  width: 100%;
  justify-content: end;
}

.orderDetailsTitlePrice {
  font-size: 16px;
  display: flex;
  width: 200px;
  justify-content: end;
}

.orderDetailsPrice {
  display: flex;
  width: 200px;
  justify-content: end;
}

.shippingInfoContainer {
  padding: 0 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.recipient {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.address {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.recipientText {
  padding: 1px 0;
}

.addressText {
  display: flex;
  justify-content: end;
  padding: 1px 0;
}
