.navBarWrapper {
  padding-top: 20px;
  background-color: teal;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.navBar {
  display: flex;
  align-items: center;
  padding: 13px 40px;
  justify-content: space-between;
  z-index: 2;
}

.subBar {
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.subBarContent {
  background-color: #097171;
  border-top-left-radius: 4px;
  height: 100%;
  flex-grow: 1;
  box-shadow: inset rgba(0, 0, 0, 0.77) 0 10px 4px -10px;
  display: flex;
  flex-direction: row;
  padding: 0 30px;
}

.subBarCategory {
  display: flex;
  align-items: center;
  padding: 0 40px;
  font-weight: 700;
  letter-spacing: 4px;
  height: 100%;
  font-size: 13px;
}

.subBarCategory:hover {
  color: #c5efef;
}

.brandWrapper {
  min-width: 243px;
}

.brand {
  color: #ffffff;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 25px;
  border-radius: 5px;
  border: none;
  background-color: #00a6a6;
  padding: 10px;
}

.rightDiv {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.leftDiv {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}

.linksDiv {
  display: flex;
  padding: 0 15px;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 13px;
}

.navLink {
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.navLink:hover {
  color: #c5efef;
}

.splitter {
  border-right: solid 1px;
  margin: 0 15px;
  height: 45px;
  color: rgba(255, 255, 255, 0.41);
}
