.footerWrapper {
  width: 100%;
  background-color: teal;
  margin-top: 40px;
  height: 140px;
}

.footer {
  margin: 0 auto;
  width: 1440px;
  height: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footerText {
  color: #f1f1f1;
  font-family: BlenderPro-Bold, sans-serif;
}

.footerText:hover {
  text-decoration: underline;
  cursor: pointer;
}
