.admin {
  width: 360px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.messageDiv {
  position: fixed;
  z-index: 10;
  border: 1px teal solid;
  top: 10%;
  left: calc(50% - 130px);
  background-color: #00a6a6;
  border-radius: 5px;
  height: 60px;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  color: white;
  font-size: 18px;
}
