.checkoutWrapper {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.checkout {
}

.steps {
  display: flex;
}

.step {
  width: 476px;
  height: 50px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectedStep {
  width: 476px;
  height: 50px;
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepSplitter {
  width: 20px;
  height: 50px;
}

.stepTitle {
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: teal;
}

.selectedStepTitle {
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #f1f1f1;
}

.stepOverview {
  padding-top: 40px;
  display: flex;
  width: 100%;
}

.formWrapper {
  width: 958px;
}

.form {
  width: 100%;
}

.formTitle {
  height: 30px;
  margin-top: 40px;
  border-bottom: 1px solid #dee1e7;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formTitleText {
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 20px;
  color: teal;
}

.formTitleEdit {
  font-family: BrandonGrotesque, sans-serif;
  font-size: 16px;
  color: teal;
}

.formTitleEdit:hover {
  text-decoration: underline;
  cursor: pointer;
}

.summaryTitle {
  height: 30px;
  border-bottom: 1px solid #dee1e7;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summaryEdit {
  font-family: BrandonGrotesque, sans-serif;
  font-size: 16px;
  color: teal;
}

.summaryEdit:hover {
  text-decoration: underline;
  cursor: pointer;
}

.summaryTitleText {
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 20px;
  color: teal;
}

.formRow {
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
}

.paymentRow {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dee1e7;
}

.formRowSplitter {
  width: 20px;
}

.summary {
  margin-left: 20px;
  width: 468px;
  background-color: #f1f1f1;
  padding: 20px;
  height: fit-content;
}

.paymentMethod {
  height: 52px;
  width: 100%;
  border: 1px solid #dee1e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  justify-content: center;
}

.selectedPaymentMethod {
  width: 100%;
  border: 1px solid teal;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  justify-content: center;
}

.paymentMethodDescriptionWrapper {
  padding: 20px 0;
  width: 100%;
}

.paymentMethodDescription {
  color: teal;
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 18px;
}

.paymentMethodButton {
  width: 200px;
  align-self: end;
  margin-bottom: 20px;
}

.radio {
  height: 20px;
  width: 20px;
}

.paymentMethodTitle {
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  color: teal;
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 18px;
}

.checkoutData {
  padding-bottom: 10px;
  color: teal;
  font-size: 16px;
  font-family: BlenderPro-Bold, sans-serif;
}

.postalCodeInputWrapper {
  width: 200px;
}

.horizontalSplitter {
  height: 20px;
  width: 100%;
}

.summaryText {
  color: teal;
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 18px;
}
.summaryTextThin {
  color: teal;
  font-family: BrandonGrotesque, sans-serif;
}

.dataGroup {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.success {
  padding-top: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
