.checkoutWrapper {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.checkout {
}

.steps {
  display: flex;
}

.step {
  width: 476px;
  height: 50px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selectedStep {
  width: 476px;
  height: 50px;
  background-color: teal;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepSplitter {
  width: 6px;
  height: 50px;
}

.stepTitle {
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: teal;
}

.selectedStepTitle {
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 18px;
  letter-spacing: 0.05em;
}

.stepOverview {
  padding-top: 40px;
  display: flex;
  width: 100%;
}

.formWrapper {
  width: 958px;
  margin-right: 6px;
}

.form {
  width: 100%;
}

.formTitle {
  margin-top: 40px;
  border-bottom: 1px solid #dee1e7;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formTitleText {
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 20px;
  height: 30px;
  color: teal;
}

.formTitleEdit {
  font-family: BrandonGrotesque, sans-serif;
  font-size: 16px;
  color: teal;
}

.formTitleEdit:hover {
  text-decoration: underline;
  cursor: pointer;
}

.summaryTitle {
  height: 30px;
  border-bottom: 1px solid #dee1e7;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summaryEdit {
  font-family: BrandonGrotesque, sans-serif;
  font-size: 16px;
  color: teal;
}

.summaryEdit:hover {
  text-decoration: underline;
  cursor: pointer;
}

.summaryTitleText {
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 20px;
  color: teal;
}

.formRow {
  width: 100%;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
}

.formRowSplitter {
  width: 20px;
}

.summary {
  margin-left: 20px;
  width: 456px;
  background-color: #f1f1f1;
  padding: 20px;
  height: fit-content;
}

.paymentMethod {
  width: 100%;
  border: 1px solid #dee1e7;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.selectedPaymentMethod {
  width: 100%;
  border: 1px solid #dee1e7;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

.paymentMethodTitle {
  color: teal;
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 18px;
}

.checkoutData {
  color: teal;
  font-size: 16px;
  font-family: BrandonGrotesque, sans-serif;
}

.postalCodeInputWrapper {
  width: 200px;
}

.horizontalSplitter {
  height: 20px;
  width: 100%;
}

.summaryText {
  color: teal;
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 18px;
}
.summaryTextThin {
  color: teal;
  font-family: BrandonGrotesque, sans-serif;
}
