.sideNavBack {
  background-color: rgba(51, 51, 51, 0.3);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  animation-duration: 500ms;
  animation-name: transition;
}

@keyframes transition {
  from {
    background-color: rgba(51, 51, 51, 0);
  }

  to {
    background-color: rgba(51, 51, 51, 0.3);
  }
}

.sideNav {
  height: 100%;
  width: 580px;
  background-color: white;
  animation-duration: 500ms;
  animation-name: slideIn;
  overflow: hidden;
}

@keyframes slideIn {
  from {
    margin-right: 100%;
    width: 0;
  }

  to {
    margin-right: 0;
    width: 580px;
  }
}

.exit {
  display: flex;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
}

.top {
  padding-left: 30px;
  background-color: teal;
  height: 42px;
  width: 100%;
}

.topTextWrapper {
  display: flex;
  align-items: center;
  height: 42px;
  width: fit-content;
  padding-right: 10px;
  padding-left: 10px;
}

.topText {
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 17px;
  padding-left: 15px;
  letter-spacing: 1px;
  white-space: nowrap;
  line-height: 0;
}

.topTextWrapper:hover {
  cursor: pointer;
}

.contentWrapper {
  padding: 15px 55px;
  width: 580px;
}

.navEl {
  display: flex;
  align-items: center;
  height: 48px;
}

.mainNavP:hover {
  text-decoration: underline;
}

.navP {
  color: teal;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  font-family: BlenderPro-Bold, sans-serif;
  letter-spacing: 0.03em;
  font-size: 20px;
  border-bottom: 1px rgba(9, 113, 113, 0.41) solid;
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

.navP:hover {
  text-decoration: underline;
}

.categories {
  width: 300px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0 40px;
  box-shadow: rgba(0, 0, 0, 0.77) 2px 2px 4px -2px;
  border-bottom-right-radius: 4px;
  z-index: 1;
  cursor: pointer;
}

.categoriesText {
  padding-left: 15px;
}

.ico {
  height: 26px;
  width: 26px;
  color: white;
}

.ico:hover {
  color: #c5efef;
}
