.button {
  position: relative;
  padding: 6px;
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  transition: 300ms;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  background-color: #dfe1e4;
  color: #333333;
}

.button:active {
  box-shadow: inset #097171 0 0 10px 2px;
  transition: 0ms;
}
