.button {
  position: relative;
  padding: 6px;
  border-radius: 10px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
}

.button:hover {
  cursor: pointer;
}

.button:disabled {
  background-color: #dfe1e4;
  color: #333333;
}
