.formDiv {
  width: 630px;
}

.formWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.preview {
  font-family: BlenderPro-Bold, sans-serif;
  color: teal;
  letter-spacing: 2px;
  padding: 15px 0 0 10px;
  font-size: 22px;
}

.productsCardWrapper {
  padding-left: 10px;
}

.splitter {
  height: 20px;
  width: 100%;
}

.listRow {
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  border-bottom: 1px rgb(222, 225, 231) solid;
}

.listRow:hover {
  background-color: rgb(242, 250, 250);
}

.name {
  font-family: BlenderPro-Bold, sans-serif;
  color: teal;
  font-size: 18px;
}

.name:hover {
  text-decoration: underline;
}

.icoBlock {
  display: flex;
}

.submitIco {
  margin-left: 10px;
  color: teal;
}

.submitIco:hover {
  cursor: pointer;
  color: green;
}

.removeIco {
  margin-left: 10px;
  color: teal;
}

.removeIco:hover {
  background-color: rgb(242, 250, 250);
  cursor: pointer;
  color: red;
}

.editIco {
  padding-left: 10px;
  color: teal;
}

.editIco:hover {
  background-color: rgb(242, 250, 250);
  cursor: pointer;
  color: green;
}
