.formWithSidePreview {
  padding-top: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.formWithoutSidePreview {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.preview {
  font-family: BlenderPro-Bold, sans-serif;
  color: teal;
  letter-spacing: 2px;
  padding: 0 0 0 10px;
  font-size: 22px;
}

.productsCardWrapper {
  padding-left: 10px;
}

.categoriesBrandslistRow {
  position: relative;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  border-bottom: 1px rgb(222, 225, 231) solid;
}

.categoriesBrandslistRow:hover {
  background-color: rgb(242, 250, 250);
}

.linkIco {
  margin-right: 5px;
  color: teal;
  padding: 4px;
  height: 26px;
  width: 26px;
}

.linkIco:hover {
  cursor: pointer;
  color: green;
  background-color: white;
}

.submitIco {
  margin-left: 5px;
  color: teal;
  padding: 4px;
  height: 26px;
  width: 26px;
}

.submitIco:hover {
  cursor: pointer;
  color: green;
  background-color: white;
}

.removeIco {
  margin-left: 5px;
  color: teal;
  padding: 4px;
  height: 26px;
  width: 26px;
}

.removeIco:hover {
  cursor: pointer;
  color: red;
  background-color: white;
}

.editIco {
  margin-left: 5px;
  color: teal;
  padding: 4px;
  height: 26px;
  width: 26px;
}
.editIco:hover {
  cursor: pointer;
  color: green;
  background-color: white;
}

.inputContainer {
  display: flex;
  width: 100%;
}

.inputContainerHorizontalSplitter {
  width: 40px;
}
