.adminNav {
  width: 360px;
  display: flex;
  flex-direction: column;
}

.categories {
  display: flex;
  flex-direction: column;
  color: teal;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 22px;
}
.adminNavTitleLink {
  border-bottom: 1px #dee1e7 solid;
  padding: 8px 0;
  font-size: 22px;
  letter-spacing: 2px;
  font-family: BlenderPro-Bold, sans-serif;
  color: #097171;
}

.adminNavLink {
  padding: 10px;
  font-size: 18px;
  letter-spacing: 1px;
  color: teal;
  font-family: BlenderPro-Bold, sans-serif;
}

.adminNavLink:hover {
  text-decoration: underline;
}
