.adminNav {
  width: 360px;
  display: flex;
  flex-direction: column;
}

.categories {
  display: flex;
  flex-direction: column;
  color: teal;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-bottom: 22px;
}

.adminNavTitle {
  font-size: 22px;
  border-bottom: 1px #dee1e7 solid;
  font-family: BlenderPro-Bold, sans-serif;
  color: #097171;
  padding: 20px 0 10px;
}

.adminNavLink {
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px #dee1e7 solid;
  padding: 0 10px 0 10px;
  font-size: 20px;
  letter-spacing: 0.05em;
  font-family: BlenderPro-Bold, sans-serif;
  color: teal;
  transition: 100ms;
}

.ico {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.adminNavLink:hover {
  background-color: #f2fafa;
  transition: 100ms;
}

.adminNavLink:active {
  padding-top: 5px;
  transition: 0ms;
}
