.input {
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  background-color: #ffffff;
  border-radius: 2px;
  color: teal;
  font-size: 18px;
  font-weight: 500;
  flex-grow: 1;
  border-bottom: 1px rgb(222, 225, 231) solid;
  font-family: BlenderPro-Bold, sans-serif;
}

.input:hover {
  background-color: rgb(242, 250, 250);
}

.input::placeholder {
  color: #b4b4b4;
}

.input:focus {
  background-color: #b4b4b4;
}
