.textarea {
  border-radius: 2px;
  color: teal;
  font-size: 18px;
  font-weight: 500;
  font-family: BlenderPro-Bold, sans-serif;
  width: 100%;
  background-color: transparent;
}

.textarea::placeholder {
  color: #b4b4b4;
}

.textarea:focus {
  background-color: rgb(231, 236, 239);
}
