.sideNavBack {
  background-color: rgba(51, 51, 51, 0.3);
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  animation-duration: 500ms;
  animation-name: transition;
}

.sideNav {
  height: 100%;
  width: 580px;
  background-color: #ffffff;
  animation-duration: 500ms;
  animation-name: slideIn;
  overflow: hidden;
}
@keyframes slideIn {
  from {
    margin-left: 100%;
    width: 0;
  }

  to {
    margin-left: 0;
    width: 580px;
  }
}
.exit {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
}

.top {
  padding-left: 30px;
  background-color: teal;
  height: 42px;
  width: 100%;
}

.topTextWrapper {
  display: flex;
  align-items: center;
  height: 42px;
  width: fit-content;
  padding-right: 10px;
  padding-left: 10px;
}

.topText {
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 17px;
  padding-left: 15px;
  letter-spacing: 1px;
  white-space: nowrap;
  line-height: 0;
}

.contentWrapper {
  padding: 15px 55px;
  width: 580px;
}
