.textareaDiv {
  margin: 0 0 20px 0;
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  border: 1px rgb(222, 225, 231) solid;
  border-radius: 2px;
  background-color: white;
}

.textareaDiv:hover {
}

.label {
  top: -13px;
  position: absolute;
  letter-spacing: 1px;
  display: block;
  margin-left: 15px;
  width: fit-content;
  margin-bottom: -5px;
  padding: 5px 6px 0 6px;
  font-family: BlenderPro-Bold, sans-serif;
  font-size: 13px;
  color: teal;
  background-color: white;
  border-radius: 3px;
  z-index: 1;
}

.textarea {
  height: 100%;
  background-color: transparent;
  color: teal;
  font-size: 18px;
  font-family: BlenderPro-Bold, sans-serif;
  font-weight: 500;
  flex-grow: 1;
  resize: none;
  padding: 10px 5px 5px;
}

.textarea::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.textarea::placeholder {
  color: #b4b4b4;
}
